{% extends "base.html" %}

{% block content %}

<style type="text/css">
.video-list-thumbs{}
.video-list-thumbs > li{
    margin-bottom:12px;
}
.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a{
	display:block;
	position:relative;
	background-color: #111;
	color: #fff;
	padding: 8px;
	border-radius:3px
    transition:all 500ms ease-in-out;
    border-radius:4px
}
.video-list-thumbs > li > a:hover{
	box-shadow:0 2px 5px rgba(0,0,0,.3);
	text-decoration:none
}
.video-list-thumbs h2{
	bottom: 0;
	font-size: 14px;
	height: 33px;
	margin: 8px 0 0;
}
.video-list-thumbs .glyphicon-play-circle{
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 39%;
    top: 31%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{
	color:#fff;
	opacity:1;
	text-shadow:0 1px 3px rgba(0,0,0,.8);
}
.video-list-thumbs .duration{
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	left: 12px;
	line-height: 13px;
	padding: 2px 3px 1px;
	position: absolute;
	top: 12px;
    transition:all 500ms ease;
}
.video-list-thumbs > li > a:hover .duration{
	background-color:#000;
}
@media (min-width:320px) and (max-width: 480px) {
	.video-list-thumbs .glyphicon-play-circle{
    font-size: 35px;
    right: 36%;
    top: 27%;
	}
	.video-list-thumbs h2{
		bottom: 0;
		font-size: 12px;
		height: 22px;
		margin: 8px 0 0;
	}
}
</style>

<div class="container">
    <ul class="list-unstyled video-list-thumbs row">

{% for profile in All_profiles %}
            <!--
         <div class="col-lg-2 col-sm-3 col-xs-6">
             <kbd>{{profile.user}}</kbd><br>{{ profile.birth_date|timesince }}
              <a title="Image 1" href="/profile/{{ profile.id }}"><img class="thumbnail img-responsive" src="{{ profile.avatar }}"  alt="{{ profile.avatar }}" width="200" height="200" >              </a>
          </div>
            -->
	<li class="col-lg-3 col-sm-4 col-xs-6">
		<a href="/profile/{{ profile.id }}" title="Brvavo">
			<img src="{{ profile.avatar }}"  alt="{{ profile.avatar }}" class="img-responsive" height="130px" />
			<h3><kbd>{{profile.user}}</kbd></h3>
			<span class="duration">{{ profile.birth_date|timesince }}</span>
		</a>
	</li>


{% endfor %}
        </ul>

</div>

{# Mise en forme de la pagination ici #}
{% if is_paginated %}
    <div class="pagination">
           {% if page_obj.has_previous %}
               <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
           {% endif %}
           Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }} 
           {% if page_obj.has_next %}
              — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
           {% endif %}
    </div>
{% endif %}




{%endblock %}

